<% provide(:title, page_title) %>
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= page_title %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li><%= link_to 'HOME', potepan_path %></li>
          <li><a href="#">shop</a></li>
          <li class="active"><%= page_title %></li>
        </ol>
      </div>
    </div>
  </div>
</section>
